<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.FragmentedSpaceMapper">
    <update id="alterTableEngine">
        alter table ${tableName} engine = InnoDB
    </update>
    <update id="enableRowMovement">
        ALTER TABLE ${tableName} ENABLE ROW MOVEMENT
    </update>
    <update id="shrinkSpaceCascade">
        ALTER TABLE ${tableName} SHRINK SPACE CASCADE
    </update>
    <update id="disableRowMovement">
        ALTER TABLE ${tableName} DISABLE ROW MOVEMENT
    </update>
    <update id="vacuumFull">
        vacuum full ${tableName}
    </update>
</mapper>